.reg-step-count-container{
  z-index: 2;               
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}
.reg-step-count-btn{
  z-index: 2;
  height: 40px;
  width: 40px;
  display: flex;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}
.reg-step-count-btn-disable{
  height: 40px;
  width: 40px;
  margin-right: 40px;
}

.reg-step-count-btn:hover{
  z-index: 2;
  background-color: rgba(0,0,0,0.1);
  border-radius: 100%;
  cursor: pointer;
}


.reg-step-num{
  margin: 0;
  padding: 0;
  font-family: 'ubuntu', sans-serif;
  font-weight: 500;
  font-size: 20px;

}
