@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
  box-sizing: border-box;
  
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.bg-color {
  background-color: #fcfeff;
}
.bg-blue {
  background-color: #1d9bf0;
}
.fg-blue {
  color:#1d9bf0;
}
.bg-red {
  background-color: red;
}
.fg-red {
  color: red;
}
.bg-grey {
  background-color: #536471;
}
.fg-grey {
  color: #536471;
}
