.modal-overlay{
  /* position: fixed; */
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 600px;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 20px;
}
