.register-modal{
  height: 100%;
  width: 100%;
}
.register-modal-content{
  width: 100%;
  height: fit-content;         /* grow to fit, could add a scroll later */
  display: flex;
  justify-content: center;
  align-items: center;
}
