.validated-input{
  height: fit-content;
  width: 100%;
}
.validated-input-val{
  position: absolute;
  bottom: 5px;
  left: 10px;
  width: 90%;
  line-height: 26px;
  font-size: 20px;
  font-weight: 300;
  background-color: rgba(256, 256, 256, 0);
  border:none;
  padding: 0;
  z-index: 5;
}

.validated-input-val:focus{
  outline:none;
  border:none;
}
